[submodule "core"]
	path = core
	url = git@github.com:NXPmicro/mcux-sdk.git
[submodule "Middleware/FreeRTOS/kernel"]
	path = Middleware/FreeRTOS/kernel
	url = git@github.com:FreeRTOS/FreeRTOS-Kernel.git
[submodule "examples"]
	path = examples
	url = git@github.com:NXPmicro/mcux-sdk-examples.git
[submodule "Middleware/FreeRTOS/coreMQTT"]
	path = Middleware/FreeRTOS/coreMQTT
	url = https://github.com/FreeRTOS/coreMQTT.git
